* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 70px;
  background-color: rgb(135, 130, 200);
}

.header .title {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  padding: 20px 10px;
}