* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(images/currency-background2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}